body {
    text-align: center;
    /* background: #ffffff url('../images/stage-spotlight-mobile_iphone.png'); */
    background: #ffffff url('../images/spot.jpg');
    font-family: 'Calibri', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {
    margin-top: 0px;
}

h1 {
    /* font-family: 'Aclonica', sans-serif; */
    font-family: 'Raleway Dots', sans-serif;;
    font-size: 54px;
    font-weight: normal;
    color: #ffb300;
    margin-bottom: 0px;
    margin-top: 20px;
}

#score_panel {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#score_panel li {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: antiquewhite;
    font-size: 24px;
}

#score {
    padding-right: 14px;
}

#lives {
    padding-right: 30px;
}

#restart_btn {
    font-size: 22px;
    font-family: 'Calibri', sans-serif;
    width: 94px;
    cursor: pointer;
}

#but-restart {
    padding-left: 106px;
}

/*
 * The Modal popup window
 */

/*** Modal background ***/
.modal {
    display: none; /* Not visible by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/*** Modal Content ***/
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

/*** Modal Close Button ***/
.close {
    color: #811501;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.modal-text {
    font: bold 20px sans-serif;
    background: none;
    color: #708090;
    text-shadow: none;
}

#final-score, .final-score {
    color: #708090;
    width: 100%;
}

#restart1, .restart1 {
    position: relative;
    background-color: #811501;
    border: none;
    box-shadow: 8px 12px 10px 0 rgba(10, 6, 40, 0.7);
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/*
 * Shake effect after collision
 */

.collisionShake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
 }

@keyframes shake {
    10%, 90% {
     transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
     transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
     transform: translate3d(4px, 0, 0);
    }
}
